.recentEventDiv {
  text-align: center;
  margin-top: 4rem;
}
.recentEventDiv h3 {
  font-size: 3.5rem;
  font-weight: 600;
}
.recentEventDiv p {
  width: 70%;
  font-size: 1.8rem;
  line-height: 2.7rem;
  letter-spacing: 1px;
  margin: 2.5rem auto;
}

.recentEventDivGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}
.recentEventDivGridImg {
  width: 38rem;
  height: 30rem;
}
@media screen and (max-width: 640px) {
  .recentEventDivGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90vw, 1fr));
  }
  .recentEventDivGridImg {
    width: 85vw;
    height: auto;
  }
}
@media screen and (max-width: 920px) {
  .recentEventDiv h3 {
    font-size: 2.7rem;
    font-weight: 600;
  }
  .recentEventDiv p {
    width: 80%;
    font-size: 1.5rem;
    line-height: 2.7rem;
    letter-spacing: 1px;
    margin: 2.5rem auto;
  }
}
@media screen and (max-width: 570px) {
  .recentEventDiv h3 {
    font-size: 2.4rem;
    font-weight: 600;
  }
  .recentEventDiv p {
    width: 80%;
    font-size: 1.2rem;
    line-height: 2.7rem;
    letter-spacing: 1px;
    margin: 2.5rem auto;
  }
}
@media screen and (max-width: 480px) {
  .recentEventDiv h3 {
    font-size: 2.2rem;
    font-weight: 600;
  }
  .recentEventDiv p {
    width: 80%;
    font-size: 1.1rem;
    line-height: 2.7rem;
    letter-spacing: 1px;
    margin: 2.5rem auto;
  }
}
@media screen and (max-width: 440px) {
  .recentEventDiv h3 {
    font-size: 2rem;
    font-weight: 600;
  }
  .recentEventDiv p {
    width: 80%;
    font-size: 1rem;
    line-height: 2.7rem;
    letter-spacing: 1px;
    margin: 2.5rem auto;
  }
}
@media screen and (max-width: 400px) {
}
@media screen and (max-width: 380px) {
  .swiper-slide img {
    display: block;
    width: 17rem;
    height: 10rem;
    object-fit: contain;
    margin: auto;
  }
  .photoGalleryText {
    text-align: center;
    margin: 3rem;
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 357px) {
}
@media screen and (max-width: 300px) {
  .swiper-slide img {
    display: block;
    width: 12rem;
    height: 8rem;
    object-fit: contain;
    margin: auto;
  }
  .photoGalleryText {
    text-align: center;
    margin: 3rem;
    font-size: 1rem;
  }
}
