.footerDiv {
  height: 15rem;
  margin-top: 4rem;
  background-color: #d9eff7;
}
.footerDiv h2 {
  padding-top: 4rem;
}
.footerDiv h5 {
  padding-top: 2rem;
}
.footerLogo:link {
  color: black;
  font-size: 2.3rem;
  font-weight: 400;
  text-decoration: none;
}
.footerLogo:visited {
  color: black;
  font-size: 2.3rem;
  font-weight: 400;
  text-decoration: none;
}
@media screen and (max-width: 640px) {
  .footerLogo:link {
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
  }
  .footerLogo:visited {
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
    text-decoration: none;
  }
}
