.missionGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}
.missionGridCardImg {
  width: 38rem;
}
.missionGridCard {
  margin: 3rem auto;
}
.missionGridCard h4 {
  font-size: 3rem;
  font-weight: 600;
}
.missionGridCard p {
  font-size: 2rem;
  width: 70%;
  margin: auto;
}

.missionGridCardText {
  line-height: 2.7rem;
  letter-spacing: 1px;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
